.bg-taskfield {
  background: var(--gray-500);
  color: var(--gray-100);
}

.button-tasks {
  background: transparent;
  border: solid 2px var(--purple);
}

.button-tasks:checked {
  background: var(--purple);
}

.checkbox-container {
  display: inline-block;
  position: relative;
}

.checkbox-container input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: solid 2px var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
  background-color: var(--purple);
}

.custom-checkbox:active {
  background-color: var(--purple);
}

.custom-checkbox svg {
  display: none;
  width: 16px;
  height: 16px;
  stroke: white;
  stroke-width: 3;
  fill: none;
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox svg {
  display: block;
}

.taskcleared {
  color: var(--gray-300);
}
